@using Microsoft.AspNet.Identity
@using Paven.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="active">@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
    <li>
        @Html.ActionLink("Hello " + User.Identity.GetName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administative Functions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Manage Products", "Index", "Products")</li>
                <li>@Html.ActionLink("Manage Product Categories", "Index", "ProductCategories")</li>
                <li class="divider"></li>
                <li class="dropdown-header">Manage Users & Roles</li>
                <li>@Html.ActionLink("Manage Roles", "Index", "RolesAdmin")</li>
                <li>@Html.ActionLink("Assign Roles", "Index", "UsersAdmin")</li>

            </ul>
        </li>
    }
    else if (Request.IsAuthenticated && User.IsInRole("Driver"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Driver Functions<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Deliver Order</li>
                <li>@Html.ActionLink("Deliver Order", "Index", "Sales")</li>
            </ul>
        </li>
    }
    else if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Account<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">View Purchase History</li>
                <li>@Html.ActionLink("Purchase History", "PurchaseHistory", "Manage")</li>
            </ul>
        </li>
    }
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
