@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Manage Roles";
}

<h2 class="text-center text-danger">Manage Roles</h2>
<hr />
<h3 class="text-center text-warning">Create Or Manage User Roles Here</h3>
<hr />

<p>
    @Html.ActionLink("Create New Role", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit Role", "Edit", new { id = item.Id }) |                
                @Html.ActionLink("Delete Role", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

