@model IEnumerable<Paven.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <span>Product Category</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @if (item.ProductCategoryId == 1)
                {
                    <p>Food</p>
                }
                else if (item.ProductCategoryId == 2)
                {
                    <p>Drinks</p>
                }
                else if (item.ProductCategoryId == 3)
                {
                    <p>Electronics</p>
                }
                else if (item.ProductCategoryId == 4)
                {
                    <p>Household</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
